.App {
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.all {
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.under {
  width: 80% !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 48px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f7f9fa;
}
.in {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.form-control:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0e72ed !important;
  height: 8vh !important;
}
.form-control {
  display: block;
  width: 100%;
  height: 8vh !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1 !important;
  color: #6e7680;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.first {
  border-bottom: 2px solid black;
  width: 50px;
  z-index: -1;
}
.zoom {
  color: #6e7680;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.change {
  margin-top: 129px;
  margin-left: 20px;
}
.face {
  position: relative;
  bottom: 35px;
}
/* .horizontal {
  display: block;
  width: 100%;
  overflow-x: scroll;
} */
/* .item {
  display: inline-block;
  margin-right: 10px;
}
.item .card {
  width: 300px !important;
} */
/* .slider_container {
  display: block;
  flex-wrap: nowrap;
} */
.floatingInput {
  font-size: 12px !important;
  color: #6e7680 !important;
}
.form-control ::placeholder {
  font-size: 16px !important;
}
.line {
  border-bottom: 2px solid black;
  z-index: 1;
}
.by {
  color: #747487;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}
.by a {
  color: #0956b5;
  padding: 0px 7px;
}
.icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.top a {
  color: #fff !important;
  line-height: 15px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 9px;
  text-decoration: none;
  text-align: end !important;
}
.under {
  background-image: url(./assest/images/Ellipse.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.underline {
  width: 70px;
  border-bottom: 5px solid #ff742e;
}
/* .item {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
} */
.now {
  background-color: #f7f8fa;
  background-position-x: left;
  width: auto;
}
.second {
  margin: 0px 32px;
  display: inline-block;
}
.second img {
  opacity: 0.3;
  border-bottom: none;
  width: 200px !important;
  height: 40px;
}
.second img:hover {
  opacity: 4;
}
.nn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.live {
  background-color: #fff;
  color: #232333;
  border: 1px solid #babacc;
  padding: 12px 14px;
  border-radius: 13px;
  text-decoration: none;
}
.pro {
  background-color: #f26d21 !important;
  color: #fff !important;
  border: 1px solid #f26d21;
  font-weight: 600;
  padding: 12px 33px;
  border-radius: 13px;
  text-decoration: none;
}
.live:hover {
  background-color: #cbc3bf !important;
  color: black;

  text-decoration: none;
}
/* .lo {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.trust {
  height: 190px;
  width: 200px;
  margin-bottom: 19px;
  display: inline-block;
  /* line-height: 276px; */
  border: 1px solid #babacc;
  text-align: center;
  margin-right: 20px;
  background-color: #fff;
}
.zoom {
  color: #233333;
  font-weight: 500;
  font-size: 19px;
  text-align: start;
}
.back {
  width: 70vw !important;
  height: 60vh !important;
}
.okay {
  box-shadow: 0 10px 18px rgb(0 0 0 / 20%) !important;
}
.item img {
  width: 200px !important;
}
.card {
  box-shadow: 0 10px 18px rgb(0 0 0 / 20%) !important;
  /* width: 20vw !important; */
  border-radius: 33px !important;
}
.under h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  color: #233333;
  word-wrap: break-word;
  font-family: "Lato", "Helvetica", "Arial" !important;
}
.list li {
  list-style-type: none;
}
#screen2_container.normal .circle .dotted-line {
  border: 2px dashed #033a7d;
  border-radius: 500px;
}

#screen2_container.normal .circle {
  width: 600px;
  height: 600px;
  background-color: transparent;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  margin-left: calc(50% - 360px);
}

#screen2_container.normal .circle li:nth-of-type(1) img {
  margin-top: 0;
  margin-left: 14px;
}

#screen2_container.normal .circle li img {
  width: 61px;
  height: 61px;
  background: radial-gradient(
    110.94% 110.94% at 30.59% 25.15%,
    #fff 0,
    rgba(255, 255, 255, 0) 100%
  );
}
#screen2_container.normal .circle li:nth-of-type(1) img {
  transform: rotate(-280deg);
}
.bottom {
  margin-top: 33px;
  font-style: italic;
}

.lower {
  background-color: #0d2a4c;
  height: 200px;
  border-radius: 33px !important;
}
.lower span {
  color: #fff;
}
.lower p {
  font-family: lato;
  font-size: 17px;
  color: #fff;
  margin-top: 23px;
  text-align: start;
}
.under h3 {
  font-size: 19px;
}
.under {
  display: inline-block;
}
.top {
  float: right;
}
.card {
  margin: 34px 0px;
  width: 90vw;
}
.dash {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-bottom: 2px solid transparent !important;
  background-color: #fff !important;
  box-shadow: 2px 3px 2px 0px rgb(255 255 255 255) !important;
}
.nice {
  background-color: #f26d21;
  padding: 74px 0px;
  width: 50vw;
  height: 75vh;
}
.wrap:hover {
  background-color: #747487;
  border-radius: 34px;
  transition: all 3s ease-in-out;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50% !important;
  display: inline-block;
  /* transition: background-color 0.6s ease; */
}
.slider img {
  object-fit: fill;
  margin-top: 30px;
  height: 400px;
  width: 100vw;
}
.set {
  background-color: #f26d21;
  color: #fff;
  border: 1px solid #f26d21;
  font-weight: 600;
  text-decoration: none;
  padding: 13px 34px;
  border-radius: 13px;
}
.set1 {
  font-weight: 200;
  text-decoration: none;
  padding: 13px 34px;
  border-radius: 13px;
  border: 1px solid #71594b;
}
set1:hover {
  font-weight: 200;
  text-decoration: none;
  padding: 13px 34px;
  border-radius: 13px;
  color: black;
}
.slider {
  margin-left: 40px;
}
.slider h2 {
  color: #131619;
  font-size: 55px;
  font-weight: 600;
  font-family: "Lato", "Helvetica", "Arial" !important;
}
.slider p {
  color: #131619;
  font-size: 14px;
  max-width: 40vw;
  font-weight: 400;
  word-break: break-word;
  margin-bottom: 70px;
}
.white a {
  color: #777;
  font-family: Lato, Helvetica, Arial;
  font-size: 15px;
}
.left li a {
  color: #0c63ce !important;
  font-size: 12px;
}
.surround h2 {
  word-break: break-all;
  font-size: 17px;
  width: 100% !important;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-top: 0;
  color: black;
  font-family: Lato, Helvetica, Arial;
}
.free span a {
  background-color: #f26d21;
  border: 1px solid #f26d21;
  font-weight: 600;
  font-size: 10px;
  border-radius: 12px;
  padding: 6px 9px;
  color: white !important;
  text-decoration: none;
}
.sign-up {
  background-color: #f26d21;
  border: 1px solid #f26d21;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  padding: 10px 12px;
  color: white !important;
  text-decoration: none;
  height: 100px;
}
.flip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section5 {
  z-index: 1;
  background-color: #f7f8f8;
  background-position: center;
  background-size: cover;
  height: 200px;
  /* width: 300px; */
}
.policy p,
a {
  display: inline-block;
}
.woman {
  box-shadow: 13px 10px 18px rgb(0 0 0 / 20%) !important;
  width: 100vw !important ;
  object-fit: fill;
  height: 400px;
  z-index: -1;
}
* body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  display: grid;
  place-items: center;
}

.loader {
  border: 16px soldi #e3e3e3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 500px) {
  .nn {
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
    padding: 12px 0px;
  }
  .flip {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sign-up {
    display: block !important;
    background-color: #f26d21;
    border: 1px solid #f26d21;
    font-weight: 600;
    font-size: 17px;
    border-radius: 12px;
    width: 134px;
    float: inline-start;
    padding: 10px 12px;
    color: white !important;
    text-decoration: none;
  }
  .in {
    display: none;
  }
  .form-control {
    display: block;
    width: 70% !important;
    height: 8vh !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1 !important;
    color: #6e7680;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
  }
}
